<% if notice %>
<p class="alert alert-success" role="alert" id="notice"><%= notice %></p>
<% end %>

<div class="row mb-5">
  <div class="col-10">
    <h1>Articles</h1>
  </div>
  <div class="col-2 text-right">
    <%= link_to 'Add new article', new_article_path, class: "btn btn-secondary btn-sm" %>
  </div>
</div>

<div class="list-group">
  <% @articles.each do |article| %>
  <a href="<%= article_path(article) %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= article.title %></h5>
      <small>
      </small>
    </div>
    <p class="mb-1"><%= truncate(article.content, length: 150) %></p>
  </a>
  <div class="btn-group btn-group-sm mb-3 text-right w-100" role="group">
    <%= link_to 'Show', article, class: "btn btn-secondary" %>
    <%= link_to 'Edit', edit_article_path(article), class: "btn btn-secondary" %></td>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
  </div>
  <% end %>
</div>
